# Virtual Environment
venv/

# Python cache
__pycache__/
*.pyc

# Database
instance/
*.db

# IDE (in case you use VS Code or PyCharm)
.vscode/
.idea/

# Environment variables
.env
.env.local

# Logs
*.log

# Distribution / packaging
dist/
build/
*.egg-info/ 